<template>
  <div id="app">
    <Thank />
  </div>
</template>

<script>
import Thank from './components/Thank'

export default {
  name: 'App',
  components: {
    Thank
  }
}
</script>

<style>
body{
  margin: 0;
  overflow: hidden;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
</style>
